.reservationFormer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: rgb(38, 38, 38);
    justify-content: center;
    align-items: center;
    text-align: center;
}

.reservationFormLabel {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    color: rgb(226, 226, 226);
}

.reservationFormInput {
    border: 1px solid grey;
    margin-bottom: 15px;
    margin-top: 10px;
    width: 250px;
    padding-left: 5px;
}

.reservationFormButton {
    color: rgb(226, 226, 226);
    border: 1px solid grey;
    padding: 5px 15px 5px;
    margin-bottom: 30px;
}

.message {
    font-size: 10px;
    color: darkred;
    margin: 15px 5px 20px;
}

.message-close-button {
    width: 10px;
    margin-left: 5px;
}