
.show-menu-btn {
  border: 1px solid white;
  letter-spacing: 1px;
  padding: 5px 20px 5px;
  color: white;
  font-size: 20px;
  margin: 20px auto;
  text-align: center;
  width: 200px;
}

.show-menu-btn:hover {
  border: 1px solid orange;
  letter-spacing: 1px;
  padding: 5px 20px 5px;
  color: orange;
  font-size: 20px;
  margin: 20px auto;
  text-align: center;
  width: 200px;
}
.main-menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
}

.main-menu-container h2 {
  font-size: 40px;
}


@media screen and (min-width: 768px) {

  .main-menu-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .menu-btn-container{
    display: flex;
    flex-direction: row;
  }
  
  .show-menu-btn {
    border: 1px solid white;
    letter-spacing: 1px;
    padding: 5px 20px 5px;
    color: white;
    font-size: 20px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    width: 360px;
    margin: 30px 
  }

  .show-menu-btn:hover {
    border: 1px solid orange;
    letter-spacing: 1px;
    padding: 5px 20px 5px;
    color: orange;
    font-size: 20px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    width: 360px;
    margin: 30px; 
  }

  .main-menu-container h2 {
    font-size: 50px;
  }

}
