#footer,
.menu-footer-menu-container {
    background-color: #0a0a0a;
    color: #fff;
    text-align: center;
    padding: 15px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

a {
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
}

svg {
  fill: white;
  padding-right: 10px;
}

.whatsapp {
  background-image: url('../../../public/img/whatsapp.png');
  width: 30px;
  height: 30px;
  background-size: cover;
  margin-right: 10px;

}

.clr {
  font-size: 15px;
}

.walink {
  color: white
}

.menu-footer-menu-container:hover .walink {
  color: #ffa500
}

.menu-footer-menu-container:hover .whatsapp {
  background-image: url('../../../public/img/whatsapporange.png');
  width: 30px;
  height: 30px;
  background-size: cover;
  margin-right: 10px;
}

@media screen and (min-width: 768px) {
  .clr {
    font-size: 15px;
    margin-left: 30px;
    
  }
}