.main_certificate {
  padding: 20px 10px 0px;
  margin: 0 auto;
  text-align: center;
}
.button_certificate {
  margin-top: 40px;
  border: 1px solid grey;
  width: 250px;
}


.button_certificate:hover{
  margin-top: 40px;
  border: 1px solid orange;
  width: 250px;
  color: orange;
}

.modal_certificate_activ{
   color: white ;
   background-color: beige !important;  

}
.modal_data_activ {
  /* background-color: beige !important; */
  display: block;
}
.modal_data_activ {
  /* background-color: beige !important; */
  display: block;
}

.modal_data_activ {
  /* background-color: beige !important; */
  display: block;

}
.modal_data_deactiv, .modal_certificat_diactive{
  display: none;
}
.modal_name {
  color: white;
  margin: 10px;
}
.modal_inp {
  color: white;
  border: 1px solid white;
  width: 250px;
}

.design_button {

font-size: 15px;
margin: 8px auto;
text-align: center;
border: 2px solid white;
padding: 10px;
width: 200px;
}

@media screen and (min-width: 768px) {

  .button_certificate{
    font-size: 25px;
    margin-top: 40px;
    border: 1px solid grey;
    width: 360px;
    padding: 5px 20px 5px;
    transition: 0.5s;
  
  }

  .button_certificate:hover{
    margin-top: 40px;
    border: 1px solid orange;
    width: 250px;
    color: orange;
    width: 360px;
    padding: 5px 20px 5px;
    transition: 0.5s;
  }

  .reservationFormLabel {
    display: flex;
    flex-direction: column;
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 10px;
    color: rgb(226, 226, 226);
}

.reservationFormInput {
    border: 1px solid grey;
    margin-bottom: 15px;
    margin-top: 10px;
    width: 360px;
    padding-left: 5px;
    height: 35px;

}

}
