.main_certificate{
    padding: 20px;
    margin: 0 auto;
    text-align: center;
}
.button_certificate{
    margin: 30px;
    border: 1px solid grey;
    width: 250px;
}
.modal_certificate_activ{
     color: rgb(1, 7, 11) ;
     background-color: beige !important;  
}
.modal_data_activ{
    background-color: beige !important;
    display: block;
    

}
.modal_data_deactiv{
    display: none;
}
.modal_name{
    color: rgb(18, 30, 40);
    margin: 10px;
}
.modal_inp{
    color: aliceblue;
    border: 1px solid black;
    width: 250px;
}

.design_button{
    margin: 20px;
    border: 1px solid black;
    width: 150px;
    color: black;
}