@font-face {
  font-family: "Montserrat";
  src: url("../../../public/Fonts/Montserrat/Montserrat-Regular.ttf");
}
.body {
  background-color: rgb(12, 12, 12);
  /* max-width: 468px; */
  color: white;
  font-family: "Montserrat", sans-serif;
  width: 100vw;
}

@media screen and (min-width: 768px) {
  .body {
    width: 100vw;
  }
}
