.contacts-container {
  padding: 20px;
  margin: 0 auto;
  text-align: center;
}
.contacts-container a {

  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  margin-right: 60px;
}
svg {
  fill: white;
}
