.calendar {
  display: flex;
  justify-content: center;
}

.table {
}

button {
  width: 100px !important;
  height: 50px !important;
}

td {
  border: 1px solid black !important;
  width: 300px !important;
  height: 100px !important;
  background-color: grey !important;
}
