.descriptionBlock-container {
  margin: 0 auto;
  padding: 30px;
}
.descriptionBlock-title {
  margin: 0 auto;
  text-align: center;
}

.descriptionBlock-text {
  font-size: 15px;
  margin: 20px auto;
  text-align: center;
}

h2 {
  font-size: 50px !important;
}
